
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#flash_notice, #flash_alert {
  padding: 5px 8px;
	z-index: 1001;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Helvetica, Arial;
	background: #bbb;
	
}
.logo{
	position: absolute;
	left: 20px;
	top: 50px;
	width: 200px;
}

.pre_header_container{
	position: fixed;
	top: 0;
	z-index: 1000;
	overflow:hidden;
	display: block;
	min-width: 100%;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.header{
	background-image: -webkit-linear-gradient(top, #222, #000); 
    background-image: -moz-linear-gradient(top, #222, #000);
}
.header_container{
	padding: 7px;
}

a{
	text-decoration: none;
}
#user_login_box{
	color: #777;
}
#user_login_box a,
.header_container a{
	color: #777;
}
.log_in_form_container a{
	color: 000;
}

.header_spacer{
	height: 50px;
}

.outer_shell{
	
}

.shell{
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

.log_in_form_container{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

.log_in_form {
	border: 1px solid black;
	padding: 10px;
	background-image: -webkit-linear-gradient(top, #efefef, #ddd); 
    background-image: -moz-linear-gradient(top, #efefef, #ddd);
	box-shadow: 0px 5px 5px rgba(0,0,0,0.8);
   	border-radius: 10px; /* future proofing */
	margin-bottom: 10px;
}

input
{
	margin: 10px;
	font-size: 14px;
	padding: 5px;
	border: 1px solid #a1a1a1;
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(white));
}
/* buttons */

input[type="button"],
input[type="submit"]
{
	text-decoration: none;
	font-size: 11px;
	padding: 5px;
	height: 29px;
	margin-bottom: 2px !important;
	border: 1px solid #a1a1a1;
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ddd));
	
}
input[type="button"]:hover,
input[type="submit"]:hover
{
	background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#eee));	
}
