body{
	background: url(http://i.imgur.com/Ks6Pd.jpg) black no-repeat;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	display: block;
	height: 100%;
	font-family: Verdana, Helvetica, Arial;
	overflow: hidden;
	
}
svg{
	width:  100% !important;
	height:  100% !important;
}
.zerg{
	background: url(../images/zerg1.jpeg) no-repeat;
}
.protoss{
	background: url(../images/protoss1.jpeg) no-repeat;
}
.terran{
	background: url(../images/terran1.jpeg) no-repeat;
}
.random{
	background: url(../images/random1.jpeg) no-repeat;
}

.zerg, .protoss, .terran, .random{
	background-size: 400px; 
}


#playerOne,
#playerTwo {
	width: 600px;
	position:relative;
	display: block;
	min-height: 100%;
	z-index: 0;
}

#playerOne{
	float: left;
}
#playerTwo{
	float: right;
}
	.race{
		position: absolute;
		margin-top: 100px;
		width: 600px;
		height: 800px;
	}
	#playerOne .race{
		right: 100px;
	}
	#playerTwo .race{
		left: 100px;
	}
	.nameSlider{
		font-weight: bold;
		position: absolute;
		min-width: 750px;
		z-index: 200;
		bottom:  50px;
		background: rgba(0,0,0,0.5);
		height:  100px;
		width:  100%;
		background-size: 100% 100%;
	    background-repeat: no-repeat;
	}
	
	#playerOne .nameSlider{	
		position: absolute;
		left: 0px;
		background: -webkit-linear-gradient(225deg, transparent 100px, rgba(0,0,0,0.5) 100px);
	    background-position: bottom left, bottom right, top right, top left;
	}
	#playerTwo .nameSlider{
		position: absolute;
		right: 0px;
		background: -webkit-linear-gradient(315deg, transparent 100px, rgba(0,0,0,0.5) 100px);
	    background-position: bottom left, bottom right, top right, top left;
	}
	
		.countryFlag{
			width:  163px;
			height:  100px;
			background:  white;
			display: inline-block;
		}
		#playerOne .countryFlag{
			float: left;
		}
		#playerTwo .countryFlag{
			float: right;
		}
		
		.name{
			position: absolute;
			color:  white;
			font-size: 50px;
			line-height: 100px;
			display:  inline-block;
		}
		
		#playerOne .name {
			left: 183px;
			
		}
		
		#playerTwo .name {
			right: 183px;
		}
		
		.pText{
			font-size: 40px;
			display: inline-block;
			line-height:100px;
		}
		
		#playerOne .pText{
			color: blue;
			float: right;
			margin-right: 120px;
		}
		#playerTwo .pText{
			color: red;
			float: left;
			margin-left:  120px;
		}

.select_players,
.confirm_selection {
	text-transform: uppercase;
	position: absolute;
	bottom: 100px;
	text-align: center;
	width: 100%;
	font-size: 28px;
	color: white;
}