html {
	background: url(../images/background.jpg) black no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

body{
	background-width: 100%;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	display: block;
	height: 100%;
	font-family: Verdana, Helvetica, Arial;
	overflow: hidden;
	
}
#notepad{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}
svg{
	margin-left: auto;
	margin-right: auto;
	position: relative !important;
/*	width:  100% !important;
	height:  100% !important;*/
}
.zerg{
	background: url(../images/zerg.png) no-repeat;
}
.protoss{
	background: url(../images/protoss.png) no-repeat;
}
.terran{
	background: url(../images/terran.png) no-repeat;
}
.random{
	background: url(../images/random.png) no-repeat;
}

.zerg, .protoss, .terran, .random{
	background-size: 400px; 
}


#playerOne,
#playerTwo {
	width: 600px;
	position:absolute;
	display: block;
	z-index: 0;
	bottom: 0px;
	-webkit-text-stroke: 2px black;	
}

#playerOne{
	left: 0px;
}
#playerTwo{
	right: 0px;;
}
	.race{
		position: absolute;
		margin-top: 100px;
		width: 500px;
		height: 500px;
	}
	#playerOne .race{
		margin-right: 200px;
	}
	#playerTwo .race{
		margin-left: 200px;
	}
	.nameSlider{
		font-weight: bold;
		position: absolute;
		min-width: 750px;
		z-index: 200;
		bottom:  50px;
		background: rgb(0,0,0);
		background: rgba(0,0,0,0.8);
		height:  100px;
		width:  100%;
		background-size: 100% 100%;
	    background-repeat: no-repeat;		
	}
	
	#playerOne .nameSlider{	
		left: 0px;
		background: -webkit-linear-gradient(225deg, transparent 70px, rgba(0,0,0,0.5) 50px);
	    background-position: bottom left, bottom right, top right, top left;
	}
	#playerTwo .nameSlider{
		right: 0px;
		background: -webkit-linear-gradient(315deg, transparent 70px, rgba(0,0,0,0.5) 50px);
	    background-position: bottom left, bottom right, top right, top left;
	}
	
		.countryFlag{
			width:  163px;
			height:  100px;
			background:  white;
			display: inline-block;
		}
		#playerOne .countryFlag{
			float: left;
		}
		#playerTwo .countryFlag{
			float: right;
		}
		
		.name{
			position: absolute;
			color:  white;
			font-size: 40px;
			line-height: 100px;
			display:  inline-block;
		}
		
		#playerOne .name {
			left: 183px;
			
		}
		
		#playerTwo .name {
			right: 183px;
		}
		
		.pText{
			font-size: 40px;
			display: inline-block;
			line-height:100px;
		}
		
		#playerOne .pText{
			color: blue;
			float: right;
			margin-right: 100px;
		}
		#playerTwo .pText{
			color: red;
			float: left;
			margin-left:  100px;
		}

.select_players,
.confirm_selection {
	text-transform: uppercase;
	position: absolute;
	bottom: 100px;
	text-align: center;
	width: 100%;
	font-size: 28px;
	z-index: 10000;
	color: white;
	font-weight: bold;
	-webkit-text-stroke: 1px black;	
	
}

.select_players a,
.confirm_selection a{
	color: white;
	-webkit-text-stroke: 1px black;	
	
}

.confirm_selection {
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;

	bottom: 150px;
}
.confirm_selection:hover,
.confirm_selection.glow {
    text-shadow: 0 0 15px black;
}
