<div class="welcome_header">
	<div class="logo logo_big">
	</div>
</div>
<div class="main_options">
	<div class="select_options">
		<%= image_tag "menubox.png", :class => "select_options_background"%>
		<ul>
			<li>
				<%= link_to "Match Set Up", match_set_up_url %>
			</li>
			<li> Custom Tournament </li>
			<li> Random Featured Match </li>
			<li> Random Match </li>
			<li> Exit </li>
		</ul>
	</div>
	<div class="announcments">
		<%= image_tag "announcebox.png", :class => "announcement_background"%>
		
		<div class="text">
			placement text
		</div>
	</div>
	<div class="featured_replays">
		
	</div>
</div>